
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
            </span>
            <form class="login100-form validate-form p-b-33 p-t-5">

           
                <h2>My Roles</h2>
                <ul>
                    <li *ngFor="let role of roles"
                        (click)="onSelect(role)" class="wrap-input100 validate-input"
                        [class.selected]="role === selectedRole">
                        <!--<span class="badge">{{role.id}}</span> {{role.name}}-->
                        <i class="fas fa-user"></i> 
                        {{role.name}}
                        <!--<span data-placeholder="&#xe82a;">{{role.name}}</span>-->

                    </li>
                </ul>
            </form>
        </div>
        <div class="wrap-login100 p-t-30 p-b-50" style="margin-left: 20%; " [hidden]="isHidden">
            <span class="login100-form-title p-b-41">
            </span>
            <form class="login100-form validate-form p-b-33 p-t-5">

                <ul>
                    <li *ngFor="let roleCategory of roleCategoryTypes"> 
                        <div class="container-login100-form-btn m-t-32">
                            <button class="login100-form-btn" (click)="OnSelectCategory(roleCategory)" [class.selected]="roleCategory === selectedCategory">
                                {{roleCategory.name}}
                            </button>
                        </div>
                    </li>
                    <!--<div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" (click)="onSelect(role)">
                            App Modernization
                        </button>
                    </div>-->
                </ul>
             
            </form>
        </div>
    </div>

</div>


